@model IEnumerable<H42Skjatextar.Models.VideoTitle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.genre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.typeOfVideo)
        </th>
  
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
    
        <td>
            @Html.DisplayFor(modelItem => item.genre)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.typeOfVideo)
        </td>

        <td>
            @Html.ActionLink("Download", "Index", new { id=item.ID }) | <!-- ÞESSI LINKUR ER EKKI COOL -->
            @if(User.Identity.Name != "")
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.ID })  <span>|</span>
            }
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
@if(User.Identity.Name != "") {
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}